@model IEnumerable<Lab3_BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/home.css" rel="stylesheet" />

    <ul class="course">
        @foreach (var item in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @item.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @item.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @item.Lecturer.Name
                    </span>
                    <span class="category">
                        @item.Category.Name
                    </span>
                </div>
            </li>
        }
    </ul>